.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(10,1fr)
}
.header {
  grid-row: 1/2;
  background-color: antiquewhite;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.links {
  display: flex;
  gap: 20px;
  font-weight: 600;
  margin-left: 150px;
}
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.footer {
  background-color: black;
  color: white;
  grid-row: 11/11;
  padding: 5px;
}
.footer a {
  color: rgb(104, 104, 208);
}
.search {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.search img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.996)
}
.MainContent {
  grid-row: 2/11;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.homelinkslist {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: left;
}
.carousel img {
  width: 33%
}
.carouselmain {
  display: flex;
  grid-row: 3/4;
  grid-column: 1/3;
  align-items: center;
  justify-content: center;
}
.carousel { 
  display: flex;
  padding-left: 10%;
  gap: 30px;
  padding: 20px;
  height: 20rem;
  overflow: scroll;
  overflow: hidden;
  align-items: center;
}
.card {
background-color: aquamarine;
}
.loginmain {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 30px;
}
.login div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login input{
  width: 250px;
}
.shopcard {
  width: 200px;
  height: 400px;
  padding: 10px;
}
.shopcard:hover{
  scale: 1.1;
}
.shopcard img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.shoptopdiv {
  height: 220px;
  overflow: hidden;
  margin-bottom: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin-left: 5px;
  gap: 2px;
}
.text h4, .text h3 {
  margin: 0;
}
.text h3 {
  font-weight: 400;
  font-size: 18px;
}
.text h4 {
  font-weight: 100;
  font-size: 14px;
}
.toplinks {
  display: flex;
  flex-direction: column;
}
.toplinks span{
  display: flex;
  margin-left: 50px;
}
.itemmainlist {
  overflow: hidden;
  padding: 0;
}
.itemlistmain{
  max-height: fit-content;
  overflow: scroll;
  margin: 0;
}
.itemlistmain button {
  margin: 20px;
}
.itemgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  gap: 20px;
}
.inventorylist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  padding-left: 40px;
}
.inventorylistitem {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: repeat(10,1fr);
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px;
}
.inventorylistitem div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.inventorylistitem h4 {
  margin: 0;
}
.inventorylist img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  overflow: hidden;
}
.inventorylistitem button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.mainmen {
  width: 100%;
}
