.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(10,1fr)
}
.header {
  grid-row: 1/2;
  background-color: white;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}
.logo h3 {
  margin: 0;
}
.logo:hover {
  scale: 1.15;
}
.logo img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48px;
  
}
.links {
  display: flex;
  gap: 30px;
  font-weight: 600;
  margin-left: 150px;
}
.links a:hover {
  scale: 1.3;
}
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.footer {
  background-color: black;
  color: white;
  grid-row: 11/11;
  padding: 5px;
}
.footer a {
  color: rgb(104, 104, 208);
}
.search {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.search img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.996)
}
.MainContent {
  grid-row: 2/11;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background: no-repeat url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enUS/Images/sp087_ss23_valentines-day-mh-lg-ftw-w-d_tcm221-988359.jpg");
  background-size: cover;
  padding: 20px;
}
.homelinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homelinkslist {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: left;
  gap: 10px;
}
.homelinks a {
  box-shadow: 4px 5px 5px white;
    
}
.homelinkslist a:hover {
  scale: 1.15;
}
.homelinkslist a:active {
  scale: 1.15;
  box-shadow: 0 5px #666;
  transform: translateX(4px);
  transform: translateY(4px);
}
.homelinks h2 {
  background-color: white;
  width: fit-content;
}
.mainBtn {
  background-color: white;
  padding: 16px;
  width: 150px;
  font-size: 18px;
  cursor: pointer;
}

.carousel img {
  width: 33%
}
.carouselmain {
  display: flex;
  grid-row: 3/4;
  grid-column: 1/3;
  align-items: center;
  justify-content: center;
}
.carousel, .carousel2 { 
  display: flex;
  padding-left: 10%;
  gap: 60px;
  padding: 20px;
  height: 20rem;
  width: 50%;
  overflow: scroll;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
#buttonleft, #buttonright {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#buttonleft:hover, #buttonright:hover {
  scale: 1.3;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

/* .firstslide {
  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}
.secondslide {
  -webkit-animation: slideOut 2s forwards;
  -moz-animation: slideInOut 2s forwards;
  animation: slideOut 2s forwards;
} */

.card img {
 width: 200px;

}
.cardtext {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 200px;
  height: 40px;
  background-color: rgba(237,238,240,255)
}
.card h4 {
  position: relative;
  top: -80px;
  left: -85px;
}
.carousel :hover {
scale: 1.1;
}
.loginmain {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 30px;
}
.login div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login input{
  width: 250px;
}
.shopcard {
  width: 200px;
  height: 400px;
  padding: 10px;
}
.shopcard:hover{
  scale: 1.1;
}
.shopcard img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.shoptopdiv {
  height: 220px;
  overflow: hidden;
  margin-bottom: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin-left: 5px;
  gap: 2px;
}
.text h4, .text h3 {
  margin: 0;
}
.text h3 {
  font-weight: 400;
  font-size: 18px;
}
.text h4 {
  font-weight: 100;
  font-size: 14px;
}
.toplinks {
  display: flex;
  flex-direction: column;
}
.toplinks span{
  display: flex;
  margin-left: 50px;
}
.itemmainlist {
  overflow: hidden;
  padding: 0;
}
.itemlistmain{
  max-height: fit-content;
  overflow: scroll;
  margin: 0;
}
.itemlistmain button {
  margin: 20px;
}
.itemgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  gap: 20px;
}
.inventorylist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  padding-left: 40px;
}
.inventorylistitem {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: repeat(10,1fr);
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px;
}
.inventorylistitem div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.inventorylistitem h4 {
  margin: 0;
}
.inventorylist img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  overflow: hidden;
}
.inventorylistitem button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.mainmen {
  width: 100%;
}


@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideOut {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideOut {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}